extends layout

block main
  section.home
    .about
      .row.inset
        .cute-12
          h1.banner-header Yo.
      .row.inset
        .cute-12
          p
            | I'm a Software Developer / 
            a(href='https://en.wikipedia.org/wiki/Hacker_(programmer_subculture)') Software Hacker
            |  who enjoys the theory and practice of programming. The culture of building things, solving problems, and sharing my work with a community is what drives me. My goal is to work on projects I care about and give contributions that will benefit the software community.
        .cute-6-tablet
          .tags
            h3 Interests
            span.tag
              | FOSS 
            span.tag
              | GNU/Linux
            span.tag
              | Functional Programming
            span.tag
              | Haskell
            span.tag
              | Javascript
        .cute-6-tablet
          .info.tags
            h3 Info
            span.tag
              a(href='//twitter.com/seanghagstrom') Twitter
            span.tag
              a(href='//github.com/seanstrom') Github
            span.tag
              a(href='//gitlab.com/u/seanstrom') Gitlab
            span.tag
              a(href='mailto:sean@seanhagstrom.com') sean@seanhagstrom.com
    .row
      .cute-12
        h1.section-title Projects
    hr
    .row.inset
      .cute-6
        h2 N/A
        p Nothing here yet, but plenty of stuff on the way.
    .row
      .cute-12
        h1.section-title Talks
    hr
    .row.inset
      .cute-6
        if collections.essays && collections.essays.length > 0
          each talk in collections.talks
            .talk-item
              h2
                span.item-title= talk.title
                if talk.videoLink
                  span.item-media
                    | [
                    a(target='_blank' href=talk.videoLink) video
                    |]
                if talk.slidesLink
                  span.item-media
                    | [
                    a(target='_blank' href=talk.slidesLink) slides
                    |]
                span.item-date - #{moment(talk.publishDate).format("YYYY")}
        else
          h2= collections.essays.length
          p Nothing here yet, but plenty of stuff on the way.
    .row
      .cute-12
        h1.section-title Writing
    hr
    .row.inset
      .cute-6
        if collections.essays && collections.essays.length > 0
          each essay in collections.essays
            .post-item
              h2
                span.item-title
                  a(href='/'+essay.path)!= essay.title
                span.item-date - #{moment(essay.publishDate).format("YYYY")}
        else
          h2= collections.essays.length
          p Nothing here yet, but plenty of stuff on the way.
