doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.title : site.title
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(
        rel='stylesheet'
        href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
      link(
        rel='stylesheet'
        href='/assets/stylesheets/github-theme.css')
      link(
        rel='stylesheet'
        href='/assets/stylesheets/cutegrids.css')
      link(
        rel='stylesheet'
        href='/assets/stylesheets/minimal.css')
      link(
        rel='stylesheet'
        href='/assets/stylesheets/styles.css')
      link(
        rel='icon'
        type='image/jpeg'
        href='//s.gravatar.com/avatar/4039a78aa83044610a0c4ded01a2a5a8?s=16')
      block styles
  body
    block body
      .row
        header
          span.pipe.first
          h1.site-header
            a(href='/') &lambda;!
          span.pipe
          block headerPostData
            nav
              a.menu-link(href='//twitter.com/seanghagstrom') Twitter
              span.dash -
              a.menu-link(href='//github.com/seanstrom') Github
        block main
        footer &copy; Sean Hagstrom
